.footer {
background:#272727;
margin-top: 100px;
    &__row {
    }

    &__item {
    }

    &__column {
        display: flex;
        // align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid #5b5b5cf8;
        padding: 0 0 50px 0;
    }

    &__block:last-child {
        margin-top: 40px;
    }

    &__logo {
        img {
            width: 130px;
            height: 130px;
            background-size: cover;
        }
    }

    &__subtitle {
        font-size: 15px;
        max-width: 300px;
        margin-top: 20px;
        line-height: 20px;
    }

    &__title {
        font-size: 25px;
    }

    &__text {
        font-size: 15px;
        margin-top: 15px;
    }

    &__icon {
        font-size: 25px;
        margin: 30px 0 0 70px;
        i {
            margin-right: 10px;
            transition: 0.3s;
            cursor: pointer;
            &:hover {
                opacity: 0.6;
            }
        }
        
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        opacity: 0.7;
        font-size: 12px;
    }

    &__bottom-text {
    }
}
.container {
}
.form-email {
    input {
        background: none;
        border: none;
        border-bottom: 2px solid silver;
    }
}
.subscribe {
    font-size: 20px;
    transition: 0.3s;
    margin-top: 10px;
    &:hover {
        color:$colorblue;
        margin-left: 5px;
        .sub {
            color:$colorblue;
            margin-left: 5px;
        }
    }
}
.fa {
}
.fa-arrow-right {
    cursor: pointer;
}
.sub {
    transition: 0.3s;
    background:none;
    color:white;
    font-weight: 500;
    font-size: 20px;
}
.fa-instagram {
}
.fa-facebook {
}
.fa-twitter {
}