<footer class="footer">
    <div class="container">
        <div class="footer__row">
            <div class="footer__item">
                <div class="footer__column">
                    <div class="footer__block">
                        <div class="footer__logo">
                            <img src="/assets/images/Logo1.png" alt="">
                        </div>
                        <form action="#" class="form-email">
                            <input type="email" name="usermail" placeholder="Введите свой email">
                            <div class="subscribe">
                                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                <button class="sub">Подписаться</button>
                            </div>
                            <p class="footer__subtitle">The world without photography will be meaningless to us.</p>
                        </form>
                    </div>
                    <div class="footer__block">
                        <div class="footer__title">Адрес</div>
                        <p class="footer__text">Baker Street 223b London, CA 70413</p>
                        <p class="footer__text">Открыто с 9:30 до 17:30</p>
                        <p class="footer__text">Телефон: +77054089839</p>
                        <p class="footer__text">Почта: akezha01@gmail.com</p>
                        <div class="footer__icon">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="footer__bottom">
                    <p class="footer__bottom-text">© 2021 AS GameWorld | Разработал Садуов Акежан </p>
                    <p class="footer__bottom-text">Все права защищены.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
