<header class="header">
    <div class="container">
        <div class="header__row">
            <div class="header__item">
                <div class="header__head">
                    <div class="header__head-logo">
                        <img src="/assets/images/Logo1.png" alt="">
                    </div>
                    <div class="ul">
                        <a href="#" class="link">Домой</a>
                        <a href="#" class="link">Блог</a>
                        <a href="#" class="link">Галерея</a>
                        <a href="#" class="link">Страницы</a>
                        <a href="#" class="link">Магазин</a>
                        <a href="#" class="link">Контакты</a>
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>