<main class="main">
        <div class="main__row">
            <div class="main__item">
                <div class="main__field">
                    <div class="main__block l1">
                        <div class="container">
                            <div class="main__body">
                                <div class="main__body-title">Игры с идеей и <br> отличным дизайном</div>
                                <button class="main__body-btn">Открыть</button>
                            </div>
                        </div>
                    </div>
                    <div class="main__block l2">
                        <div class="container">
                            <div class="main__body">
                                <div class="main__body-title">Игры с идеей и <br> отличным дизайном</div>
                                <button class="main__body-btn">Открыть</button>
                            </div>
                        </div>        
                    </div>
                    <div class="main__block l3">
                        <div class="container">
                            <div class="main__body">
                                <div class="main__body-title">Игры с идеей и <br> отличным дизайном</div>
                                <button class="main__body-btn">Открыть</button>
                            </div>
                        </div>
                    </div>
                </div>
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </div>

        </div>
</main>