<section class="matches">
    <div class="container">
        <div class="matches__row">
            <div class="matches__item">
                <div class="matches__body">
                    <div class="title">Предстоящие игры</div>
                    <div class="matches__tabs">
                        <div class="matches__tabs-btn">Все</div>
                        <p>/</p>
                        <div class="matches__tabs-btn">DOTA 2</div>
                        <p>/</p>
                        <div class="matches__tabs-btn">CS GO</div>
                        <p>/</p>
                        <div class="matches__tabs-btn">Fortnite</div>
                        <p>/</p>
                        <div class="matches__tabs-btn">Pubg</div>
                    </div>
                </div>
                <div class="matches__column">
                    <div class="matches__block">
                        <div class="matches__block-team">
                            <div class="matches__block-team-logo">
                                <img src="/assets/images/matches/game-team-logo2-150x150.png" alt="">
                                <div class="matches__block-team-name">CLIKLAV</div>
                                <div class="matches__block-team-num">136</div>
                            </div>
                        </div>
                        <div class="matches__block-vs">VS</div>
                        <div class="matches__block-team">
                            <div class="matches__block-team-logo">
                                <img src="/assets/images/matches/game-team-logo3-150x150.png" alt="">
                                <div class="matches__block-team-name">GERTO</div>
                                <div class="matches__block-team-num">100</div>
                            </div>
                        </div>
                        <div class="matches__block-info">
                            <div class="matches__block-title">ESPORT ЛИГА - CS GO</div>
                            <div class="matches__block-data">Апрель 25, 2021 4:00 PM</div>
                        </div>
                        <div class="matches__block-platform">
                            <i class="fa fa-twitch tw" aria-hidden="true"></i>
                            <p>Стрим в Твиче</p>
                        </div>
                    </div>
                    <div class="matches__block">
                        <div class="matches__block-team">
                            <div class="matches__block-team-logo">
                                <img src="/assets/images/matches/game-team-logo4-150x150.png" alt="">
                                <div class="matches__block-team-name">CLIKLAV</div>
                                <div class="matches__block-team-num">136</div>
                            </div>
                        </div>
                        <div class="matches__block-vs">VS</div>
                        <div class="matches__block-team">
                            <div class="matches__block-team-logo">
                                <img src="/assets/images/matches/game-team-logo5-150x150.png" alt="">
                                <div class="matches__block-team-name">GERTO</div>
                                <div class="matches__block-team-num">100</div>
                            </div>
                        </div>
                        <div class="matches__block-info">
                            <div class="matches__block-title">ESPORT ЛИГА - DOTA 2</div>
                            <div class="matches__block-data">Апрель 25, 2021 4:00 PM</div>
                        </div>
                        <div class="matches__block-platform">
                            <i class="fa fa-twitch tw" aria-hidden="true"></i>
                            <p>Стрим в Твиче</p>
                        </div>
                    </div>
                    <div class="matches__block">
                        <div class="matches__block-team">
                            <div class="matches__block-team-logo">
                                <img src="/assets/images/matches/game-team-logo6-150x150.png" alt="">
                                <div class="matches__block-team-name">CLIKLAV</div>
                                <div class="matches__block-team-num">136</div>
                            </div>
                        </div>
                        <div class="matches__block-vs">VS</div>
                        <div class="matches__block-team">
                            <div class="matches__block-team-logo">
                                <img src="/assets/images/matches/game-team-logo7-150x150.png" alt="">
                                <div class="matches__block-team-name">GERTO</div>
                                <div class="matches__block-team-num">100</div>
                            </div>
                        </div>
                        <div class="matches__block-info">
                            <div class="matches__block-title">ESPORT ЛИГА - Fortnite</div>
                            <div class="matches__block-data">Апрель 25, 2021 4:00 PM</div>
                        </div>
                        <div class="matches__block-platform">
                            <i class="fa fa-twitch tw" aria-hidden="true"></i>
                            <p>Стрим в Твиче</p>
                        </div>
                    </div>
                    <div class="matches__block">
                        <div class="matches__block-team">
                            <div class="matches__block-team-logo">
                                <img src="/assets/images/matches/game-team-logo3-150x150.png" alt="">
                                <div class="matches__block-team-name">CLIKLAV</div>
                                <div class="matches__block-team-num">136</div>
                            </div>
                        </div>
                        <div class="matches__block-vs">VS</div>
                        <div class="matches__block-team">
                            <div class="matches__block-team-logo">
                                <img src="/assets/images/matches/game-team-logo5-150x150.png" alt="">
                                <div class="matches__block-team-name">GERTO</div>
                                <div class="matches__block-team-num">100</div>
                            </div>
                        </div>
                        <div class="matches__block-info">
                            <div class="matches__block-title">ESPORT ЛИГА - PUBG</div>
                            <div class="matches__block-data">Апрель 25, 2021 4:00 PM</div>
                        </div>
                        <div class="matches__block-platform">
                            <i class="fa fa-twitch tw" aria-hidden="true"></i>
                            <p>Стрим в Твиче</p>
                        </div>
                    </div>
                    <div class="matches__block">
                        <div class="matches__block-team">
                            <div class="matches__block-team-logo">
                                <img src="/assets/images/matches/game-team-logo3-150x150.png" alt="">
                                <div class="matches__block-team-name">CLIKLAV</div>
                                <div class="matches__block-team-num">136</div>
                            </div>
                        </div>
                        <div class="matches__block-vs">VS</div>
                        <div class="matches__block-team">
                            <div class="matches__block-team-logo">
                                <img src="/assets/images/matches/game-team-logo5-150x150.png" alt="">
                                <div class="matches__block-team-name">GERTO</div>
                                <div class="matches__block-team-num">100</div>
                            </div>
                        </div>
                        <div class="matches__block-info">
                            <div class="matches__block-title">ESPORT ЛИГА - PUBG</div>
                            <div class="matches__block-data">Апрель 25, 2021 4:00 PM</div>
                        </div>
                        <div class="matches__block-platform">
                            <i class="fa fa-twitch tw" aria-hidden="true"></i>
                            <p>Стрим в Твиче</p>
                        </div>
                    </div>
                    <div class="matches__block">
                        <div class="matches__block-team">
                            <div class="matches__block-team-logo">
                                <img src="/assets/images/matches/game-team-logo3-150x150.png" alt="">
                                <div class="matches__block-team-name">CLIKLAV</div>
                                <div class="matches__block-team-num">136</div>
                            </div>
                        </div>
                        <div class="matches__block-vs">VS</div>
                        <div class="matches__block-team">
                            <div class="matches__block-team-logo">
                                <img src="/assets/images/matches/game-team-logo5-150x150.png" alt="">
                                <div class="matches__block-team-name">GERTO</div>
                                <div class="matches__block-team-num">100</div>
                            </div>
                        </div>
                        <div class="matches__block-info">
                            <div class="matches__block-title">ESPORT ЛИГА - PUBG</div>
                            <div class="matches__block-data">Апрель 25, 2021 4:00 PM</div>
                        </div>
                        <div class="matches__block-platform">
                            <i class="fa fa-twitch tw" aria-hidden="true"></i>
                            <p>Стрим в Твиче</p>
                        </div>
                    </div>
                </div>
                <div class="matches__column">
                    <div class="matches__block">
                        <div class="matches__block-team">
                            <div class="matches__block-team-logo">
                                <img src="/assets/images/matches/game-team-logo2-150x150.png" alt="">
                                <div class="matches__block-team-name">CLIKLAV</div>
                                <div class="matches__block-team-num">136</div>
                            </div>
                        </div>
                        <div class="matches__block-vs">VS</div>
                        <div class="matches__block-team">
                            <div class="matches__block-team-logo">
                                <img src="/assets/images/matches/game-team-logo3-150x150.png" alt="">
                                <div class="matches__block-team-name">GERTO</div>
                                <div class="matches__block-team-num">100</div>
                            </div>
                        </div>
                        <div class="matches__block-info">
                            <div class="matches__block-title">ESPORT ЛИГА - DOTA 2</div>
                            <div class="matches__block-data">Апрель 25, 2021 4:00 PM</div>
                        </div>
                        <div class="matches__block-platform">
                            <i class="fa fa-twitch tw" aria-hidden="true"></i>
                            <p>Стрим в Твиче</p>
                        </div>
                    </div>
                    <div class="matches__block">
                        <div class="matches__block-team">
                            <div class="matches__block-team-logo">
                                <img src="/assets/images/matches/game-team-logo4-150x150.png" alt="">
                                <div class="matches__block-team-name">CLIKLAV</div>
                                <div class="matches__block-team-num">136</div>
                            </div>
                        </div>
                        <div class="matches__block-vs">VS</div>
                        <div class="matches__block-team">
                            <div class="matches__block-team-logo">
                                <img src="/assets/images/matches/game-team-logo5-150x150.png" alt="">
                                <div class="matches__block-team-name">GERTO</div>
                                <div class="matches__block-team-num">100</div>
                            </div>
                        </div>
                        <div class="matches__block-info">
                            <div class="matches__block-title">ESPORT ЛИГА - DOTA 2</div>
                            <div class="matches__block-data">Апрель 25, 2021 4:00 PM</div>
                        </div>
                        <div class="matches__block-platform">
                            <i class="fa fa-twitch tw" aria-hidden="true"></i>
                            <p>Стрим в Твиче</p>
                        </div>
                    </div>
                </div>
                <div class="matches__column">
                    <div class="matches__block">
                        <div class="matches__block-team">
                            <div class="matches__block-team-logo">
                                <img src="/assets/images/matches/game-team-logo2-150x150.png" alt="">
                                <div class="matches__block-team-name">CLIKLAV</div>
                                <div class="matches__block-team-num">136</div>
                            </div>
                        </div>
                        <div class="matches__block-vs">VS</div>
                        <div class="matches__block-team">
                            <div class="matches__block-team-logo">
                                <img src="/assets/images/matches/game-team-logo3-150x150.png" alt="">
                                <div class="matches__block-team-name">GERTO</div>
                                <div class="matches__block-team-num">100</div>
                            </div>
                        </div>
                        <div class="matches__block-info">
                            <div class="matches__block-title">ESPORT ЛИГА - CS GO</div>
                            <div class="matches__block-data">Апрель 25, 2021 4:00 PM</div>
                        </div>
                        <div class="matches__block-platform">
                            <i class="fa fa-twitch tw" aria-hidden="true"></i>
                            <p>Стрим в Твиче</p>
                        </div>
                    </div>
                    <div class="matches__block">
                        <div class="matches__block-team">
                            <div class="matches__block-team-logo">
                                <img src="/assets/images/matches/game-team-logo4-150x150.png" alt="">
                                <div class="matches__block-team-name">CLIKLAV</div>
                                <div class="matches__block-team-num">136</div>
                            </div>
                        </div>
                        <div class="matches__block-vs">VS</div>
                        <div class="matches__block-team">
                            <div class="matches__block-team-logo">
                                <img src="/assets/images/matches/game-team-logo5-150x150.png" alt="">
                                <div class="matches__block-team-name">GERTO</div>
                                <div class="matches__block-team-num">100</div>
                            </div>
                        </div>
                        <div class="matches__block-info">
                            <div class="matches__block-title">ESPORT ЛИГА - CS GO</div>
                            <div class="matches__block-data">Апрель 25, 2021 4:00 PM</div>
                        </div>
                        <div class="matches__block-platform">
                            <i class="fa fa-twitch tw" aria-hidden="true"></i>
                            <p>Стрим в Твиче</p>
                        </div>
                    </div>
                </div>
                <div class="matches__column">
                    <div class="matches__block">
                        <div class="matches__block-team">
                            <div class="matches__block-team-logo">
                                <img src="/assets/images/matches/game-team-logo4-150x150.png" alt="">
                                <div class="matches__block-team-name">CLIKLAV</div>
                                <div class="matches__block-team-num">136</div>
                            </div>
                        </div>
                        <div class="matches__block-vs">VS</div>
                        <div class="matches__block-team">
                            <div class="matches__block-team-logo">
                                <img src="/assets/images/matches/game-team-logo5-150x150.png" alt="">
                                <div class="matches__block-team-name">GERTO</div>
                                <div class="matches__block-team-num">100</div>
                            </div>
                        </div>
                        <div class="matches__block-info">
                            <div class="matches__block-title">ESPORT ЛИГА - Fortnite</div>
                            <div class="matches__block-data">Апрель 25, 2021 4:00 PM</div>
                        </div>
                        <div class="matches__block-platform">
                            <i class="fa fa-twitch tw" aria-hidden="true"></i>
                            <p>Стрим в Твиче</p>
                        </div>
                    </div>
                </div>
                <div class="matches__column">
                    <div class="matches__block">
                        <div class="matches__block-team">
                            <div class="matches__block-team-logo">
                                <img src="/assets/images/matches/game-team-logo2-150x150.png" alt="">
                                <div class="matches__block-team-name">CLIKLAV</div>
                                <div class="matches__block-team-num">136</div>
                            </div>
                        </div>
                        <div class="matches__block-vs">VS</div>
                        <div class="matches__block-team">
                            <div class="matches__block-team-logo">
                                <img src="/assets/images/matches/game-team-logo3-150x150.png" alt="">
                                <div class="matches__block-team-name">GERTO</div>
                                <div class="matches__block-team-num">100</div>
                            </div>
                        </div>
                        <div class="matches__block-info">
                            <div class="matches__block-title">ESPORT ЛИГА - PUBG</div>
                            <div class="matches__block-data">Апрель 25, 2021 4:00 PM</div>
                        </div>
                        <div class="matches__block-platform">
                            <i class="fa fa-twitch tw" aria-hidden="true"></i>
                            <p>Стрим в Твиче</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>