<div class="platform">
  <div class="container">
      <div class="platform__row">
          <div class="platform__item">
              <div class="platform__column">
                    <div class="platform__block">
                        <div class="platform__block-logo">
                            <i class="fa fa-twitch" aria-hidden="true"></i>
                        </div>
                        <div class="platform__block-text">
                            <div class="platform__block-title">Стримы в Твиче</div>
                            <div class="platform__block-subtitle">Lorem ipsum dolor, sit amet consectetur adipisicing elit. </div>
                        </div>
                    </div>
                    <div class="platform__block">
                        <div class="platform__block-logo">
                            <i class="fa fa-gamepad" aria-hidden="true"></i>
                        </div>
                        <div class="platform__block-text">
                            <div class="platform__block-title">Новости в киберспорте</div>
                            <div class="platform__block-subtitle">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</div>
                        </div>
                    </div>
                    <div class="platform__block">
                        <div class="platform__block-logo">
                            <i class="fa fa-trophy" aria-hidden="true"></i>
                        </div>
                        <div class="platform__block-text">
                            <div class="platform__block-title">Игровые турниры</div>
                            <div class="platform__block-subtitle">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</div>
                        </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>