<section class="sport">
    <div class="sport__row">
        <div class="sport__item">
            <div class="sport__field">
                <div class="sport__blocks">
                    <div class="sport__block s1">
                        <div class="sport__body">
                            <div class="sport__gen">
                                <div class="sport__title">Командная Лига - Dota 2</div>
                            </div>
                            <div class="sport__icon">
                                <img src="/assets/images/games/icons8-дота-96.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="sport__info">
                        <div class="sport__top">
                            <p>4 группы</p>
                            <p>Призовой фонд</p>
                            <p>Март.26.2020-04-13PM</p>
                        </div>
                        <div class="sport__bottom">
                            <p>32 игрока</p>
                            <p>5000$</p>
                        </div>
                    </div>
                </div>
                <div class="sport__blocks">
                    <div class="sport__block s2">
                        <div class="sport__body">
                            <div class="sport__gen">
                                <div class="sport__title">Командная Лига - Pubg</div>
                            </div>
                            <div class="sport__icon">
                                <img src="/assets/images/games/icons8-pubg-lite-48.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="sport__info">
                        <div class="sport__top">
                            <p>4 группы</p>
                            <p>Призовой фонд</p>
                            <p>Март.26.2020-04-13PM</p>
                        </div>
                        <div class="sport__bottom">
                            <p>32 игрока</p>
                            <p>5000$</p>
                        </div>
                    </div>
                </div>
                <div class="sport__blocks">
                    <div class="sport__block s3">
                        <div class="sport__body">
                            <div class="sport__gen">
                                <div class="sport__title">Командная Лига - Overwatch</div>
                            </div>
                            <div class="sport__icon">
                                <img src="/assets/images/games/icons8-overwatch-128.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="sport__info">
                        <div class="sport__top">
                            <p>4 группы</p>
                            <p>Призовой фонд</p>
                            <p>Март.26.2020-04-13PM</p>
                        </div>
                        <div class="sport__bottom">
                            <p>32 игрока</p>
                            <p>5000$</p>
                        </div>
                    </div>
                </div>
                <div class="sport__blocks">
                    <div class="sport__block s4">
                        <div class="sport__body">
                            <div class="sport__gen">
                                <div class="sport__title">Командная Лига - League of Legends</div>
                            </div>
                            <div class="sport__icon">
                                <img src="/assets/images/games/icons8-league-of-legends-200.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="sport__info">
                        <div class="sport__top">
                            <p>4 группы</p>
                            <p>Призовой фонд</p>
                            <p>Март.26.2020-04-13PM</p>
                        </div>
                        <div class="sport__bottom">
                            <p>32 игрока</p>
                            <p>5000$</p>
                        </div>
                    </div>
                </div>
                <div class="sport__blocks">
                    <div class="sport__block s5">
                        <div class="sport__body">
                            <div class="sport__gen">
                                <div class="sport__title">Командная Лига - Fortnite</div>
                            </div>
                            <div class="sport__icon">
                                <img src="/assets/images/games/icons8-fortnite-200.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="sport__info">
                        <div class="sport__top">
                            <p>4 группы</p>
                            <p>Призовой фонд</p>
                            <p>Март.26.2020-04-13PM</p>
                        </div>
                        <div class="sport__bottom">
                            <p>32 игрока</p>
                            <p>5000$</p>
                        </div>
                    </div>
                </div>
                <div class="sport__blocks">
                    <div class="sport__block s6">
                        <div class="sport__body">
                            <div class="sport__gen">
                                <div class="sport__title">Командная Лига - CS:GO</div>
                            </div>
                            <div class="sport__icon">
                                <img src="/assets/images/games/icons8-counter-strike-64.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="sport__info">
                        <div class="sport__top">
                            <p>4 группы</p>
                            <p>Призовой фонд</p>
                            <p>Март.26.2020-04-13PM</p>
                        </div>
                        <div class="sport__bottom">
                            <p>32 игрока</p>
                            <p>5000$</p>
                        </div>
                    </div>
                </div>
                <div class="sport__blocks">
                    <div class="sport__block s1">
                        <div class="sport__body">
                            <div class="sport__gen">
                                <div class="sport__title">Командная Лига - Dota 2</div>
                            </div>
                            <div class="sport__icon">
                                <img src="/assets/images/games/icons8-дота-96.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="sport__info">
                        <div class="sport__top">
                            <p>4 группы</p>
                            <p>Призовой фонд</p>
                            <p>Март.26.2020-04-13PM</p>
                        </div>
                        <div class="sport__bottom">
                            <p>32 игрока</p>
                            <p>5000$</p>
                        </div>
                    </div>
                </div>
                <div class="sport__blocks">
                    <div class="sport__block s2">
                        <div class="sport__body">
                            <div class="sport__gen">
                                <div class="sport__title">Командная Лига - Pubg</div>
                            </div>
                            <div class="sport__icon">
                                <img src="/assets/images/games/icons8-pubg-lite-48.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="sport__info">
                        <div class="sport__top">
                            <p>4 группы</p>
                            <p>Призовой фонд</p>
                            <p>Март.26.2020-04-13PM</p>
                        </div>
                        <div class="sport__bottom">
                            <p>32 игрока</p>
                            <p>5000$</p>
                        </div>
                    </div>
                </div>
                <div class="sport__blocks">
                    <div class="sport__block s3">
                        <div class="sport__body">
                            <div class="sport__gen">
                                <div class="sport__title">Командная Лига - Overwatch</div>
                            </div>
                            <div class="sport__icon">
                                <img src="/assets/images/games/icons8-overwatch-128.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="sport__info">
                        <div class="sport__top">
                            <p>4 группы</p>
                            <p>Призовой фонд</p>
                            <p>Март.26.2020-04-13PM</p>
                        </div>
                        <div class="sport__bottom">
                            <p>32 игрока</p>
                            <p>5000$</p>
                        </div>
                    </div>
                </div>
                <div class="sport__blocks">
                    <div class="sport__block s4">
                        <div class="sport__body">
                            <div class="sport__gen">
                                <div class="sport__title">Командная Лига - League of Legends</div>
                            </div>
                            <div class="sport__icon">
                                <img src="/assets/images/games/icons8-league-of-legends-200.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="sport__info">
                        <div class="sport__top">
                            <p>4 группы</p>
                            <p>Призовой фонд</p>
                            <p>Март.26.2020-04-13PM</p>
                        </div>
                        <div class="sport__bottom">
                            <p>32 игрока</p>
                            <p>5000$</p>
                        </div>
                    </div>
                </div>
                <div class="sport__blocks">
                    <div class="sport__block s5">
                        <div class="sport__body">
                            <div class="sport__gen">
                                <div class="sport__title">Командная Лига - Fortnite</div>
                            </div>
                            <div class="sport__icon">
                                <img src="/assets/images/games/icons8-fortnite-200.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="sport__info">
                        <div class="sport__top">
                            <p>4 группы</p>
                            <p>Призовой фонд</p>
                            <p>Март.26.2020-04-13PM</p>
                        </div>
                        <div class="sport__bottom">
                            <p>32 игрока</p>
                            <p>5000$</p>
                        </div>
                    </div>
                </div>
                <div class="sport__blocks">
                    <div class="sport__block s6">
                        <div class="sport__body">
                            <div class="sport__gen">
                                <div class="sport__title">Командная Лига - CS:GO</div>
                            </div>
                            <div class="sport__icon">
                                <img src="/assets/images/games/icons8-counter-strike-64.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="sport__info">
                        <div class="sport__top">
                            <p>4 группы</p>
                            <p>Призовой фонд</p>
                            <p>Март.26.2020-04-13PM</p>
                        </div>
                        <div class="sport__bottom">
                            <p>32 игрока</p>
                            <p>5000$</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>