<section class="unicon">
        <div class="unicon__row">
            <div class="unicon__item">
                <div class="unicon__body">
                    <div class="container">
                        <div class="title">UNICON & GAME EXPO</div>
                        <p class="unicon__body-subtitle">Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit, sed do eiusmod tempor <br> incididunt ut labore et dolore.</p>
                        <button class="unicon__btn">Посмотреть</button>
                    </div>
                </div>
            </div>
        </div>
</section>