<section class="users">
    <div class="container">
        <div class="users__row">
            <div class="users__item">
                <div class="users__column">
                    <div class="users__block">
                        <i class="fa fa-youtube" aria-hidden="true"></i>
                        <p class="users__title">1300 +</p>
                        <p class="users__subtitle">youtube streams</p>
                    </div>
                    <div class="users__block">
                        <i class="fa fa-twitch" aria-hidden="true"></i>
                        <p class="users__title">1600 +</p>
                        <p class="users__subtitle">twitch streams</p>
                    </div>
                    <div class="users__block">
                        <i class="fa fa-gamepad" aria-hidden="true"></i>
                        <p class="users__title">900 +</p>
                        <p class="users__subtitle">past games</p>
                    </div>
                    <div class="users__block">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <p class="users__title">450 +</p>
                        <p class="users__subtitle">pro team</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>